.card {
    height: 100vh;
    background-image: url("../img/Background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card img {
    width: 600px;
    margin-right: 70px;
    border: hidden 10px white;
}

.card p {
    margin-left: 70px;
}